[2017-07-17 10:50] benBubbleflat opened #2 "Modification des photos"

[2017-07-17 10:52] #2 closed

[2017-07-17 11:15] jofftiquez commented on #2
Hi @benBubbleflat is there something I can help you with?

[2017-07-20 03:15] brunogaspar opened #3 "Add to Awesome-Vue List"
Hello @jofftiquez

Consider adding your component to the [Awesome Vue.js List](https://github.com/vuejs/awesome-vue#image-manipulation) so you can have more people to know about your component and Croppie.

Thanks for the component :)

[2017-07-20 03:23] jofftiquez commented on #3
@brunogaspar Wow, I didn't know there was such a list. Thank you for telling me. :) :100:

[2017-07-20 03:26] brunogaspar commented on #3
No problem at all, just read their [contributing](https://github.com/vuejs/awesome-vue/blob/master/CONTRIBUTING.md) guide and submit a PR :)

[2017-07-20 03:26] #3 closed

[2017-07-30 03:10] nicolasvahidzein opened #4 "How to pass a picture and options"
Hello there, i was wondering if you could help me, how can i pass on a file from an input button instead of from an url.

Also, how can i define the final size and other options?

Thank you very much.

[2017-07-30 03:51] nicolasvahidzein commented on #4
hello again, i was able to find out how to pass the options so no worries about that, but i cannot set the result object to get a proper return of the promise, can you please help me. I tried it many different ways but i know my syntax is wrong. Im not great with es2016 yet.

                           this.$refs.croppieRef.result({
					type: 'base64', //base64, html, blob, rawcanvas
					size: '

[2017-07-30 04:09] nicolasvahidzein commented on #4
index.js?9251:101 Uncaught (in promise) TypeError: cb is not a function
    at croppie.result.then.output (eval at <anonymous> (app.js:6039), <anonymous>:103:25)
    at <anonymous>

[2017-07-30 04:10] nicolasvahidzein commented on #4
Tried this way as well, no luck

                      this.$refs.croppieRef.result().then(response => {
				console.log('All is good!')

			}, error => {
				console.log(error)
				console.log('An error happened!')
			})

[2017-07-30 09:56] jofftiquez commented on #4
Hello @nicolasvahidzein sorry for a bit late reply. Let me just look on the issue first.

[2017-07-30 09:58] nicolasvahidzein commented on #4
ok. On the original module i see something close to what i want but i don't know how to do this in vue:

i found it here: https://foliotek.github.io/Croppie/

called:                  Upload Example (with exif orientation compatability)

$uploadCrop = $('#upload-demo').croppie({
    enableExif: true,
    viewport: {
        width: 200,
        height: 200,
        type: 'circle'
    },
    boundar

[2017-07-30 10:03] jofftiquez commented on #4
Hello @nicolasvahidzein based on the code you commented above you are doing `this.$refs.croppieRef.result().then()` but the `result` is a callback function not a promise. If you want to wait for the result asynchronously, you can use async await.

Can I see your whole code?

[2017-07-30 10:06] jofftiquez commented on #4
Did you follow my example in the docu?

[code]

[2017-07-30 10:07] nicolasvahidzein commented on #4
I am just learning, so can you tell me how i would pass it the options to get a jpeg back?

Yes i used that example and it's fine but i want a jpeg back or should i just stay with your function and send a base64 to the server (laravel) to convert?

My code is 7000 lines, what part do you want to see?

[2017-07-30 10:20] jofftiquez commented on #4
Just the component code of course. The one with `vue-croppie` implementation. For the meantime you can pass the `enableExif` option on the component like 👍

[code]

[2017-07-30 10:22] jofftiquez commented on #4
@nicolasvahidzein for the meantime please the do the convertion of the image in your server Ill fix this right away to get a `jpeg` format. Im sorry for the inconvenience. Ill focus on this for now.

[2017-07-30 10:27] jofftiquez commented on #4
@nicolasvahidzein this should be quick just hang in there for a minute.

[2017-07-30 11:00] #4 closed

[2017-07-30 11:04] jofftiquez commented on #4
@nicolasvahidzein you can now pass result options like :

[code]

[2017-07-30 11:09] nicolasvahidzein commented on #4
Thank you so much Joff, do i need to update the pluggin?

Also does it emit when i upload an image?

Finally i really need to pass on an image via file upload. Is that possible like in the example from croppie?

[2017-07-30 11:27] jofftiquez commented on #4
Yes you need to update the plugin, the version should be 1.2.1 :)

I did not use emit on this component, instead `result(options, callback)` has a callback function which contains the cropped images.

Yes you can do that. Though it is not native in this plugin. I can show you a snippet on how to do that.

[2017-07-30 11:37] nicolasvahidzein commented on #4
Yes please!! Also i had another question. You use skype? Im looking for a freelancer? nzein19 is mine.

[2017-07-30 11:39] jofftiquez commented on #4
Here's a snippet, it's not a working sample but you should get the idea on how to do it.

1. Add an input with type of file
2. Listen to the event `change` using @change="fileChange"
3. Handle the file in the `fileChange` method. See below.
4. There you should get the file result and then bind it to croppie or show it the image display.

[code]

[2017-07-30 11:42] jofftiquez commented on #4
@nicolasvahidzein To answer you question, I was a freelancer but I got busy these past months. Am doing this stuff coz I like vuejs and I am experimenting on it. You can also check my other vue project, I have a filter collection for vuejs you might find it useful in your projects, [here](https://github.com/jofftiquez/morphling)

But I am planning to get back to freelancing ones my projects are do

[2017-07-30 11:45] nicolasvahidzein commented on #4
Adding a star now and will review your comment and come back. Add me on skype now if you can that way it will be easier to keep in touch :)

[2017-07-30 11:48] jofftiquez commented on #4
Great! Thanks. Just comment here if you have anymore questions :D

[2017-07-30 11:59] nicolasvahidzein commented on #4
PS this version and last it's not loading the css directly inside the package, i had to do it in vue directly and uncomment the import in your index.js file. Then it works, here is the error in chrome:

./~/css-loader?{"modules":true,"localIdentName":"[name]__[local]___[hash:base64:5]"}!./~/vue-style-loader!./~/css-loader?{"minimize":false,"sourceMap":false}!./~/croppie/croppie.css
Module build fa

[2017-07-30 12:07] jofftiquez commented on #4
I see. Thanks for noting this. I will create an issue regarding this one.

[2017-07-30 12:09] jofftiquez opened #5 "Croppie Css import problem. Comment from #4"
PS this version and last it's not loading the css directly inside the package, i had to do it in vue directly and uncomment the import in your index.js file. Then it works, here is the error in chrome:

./~/css-loader?{"modules":true,"localIdentName":"[name]__[local]___[hash:base64:5]"}!./~/vue-style-loader!./~/css-loader?{"minimize":false,"sourceMap":false}!./~/croppie/croppie.css
Module build fa

[2017-07-30 12:19] jofftiquez commented on #4
@nicolasvahidzein that is because your css loader cant understand the css from croppie.css you just have to properly configure your css loader. Did you use `vue cli`? If so, what template did you use?

[2017-07-30 12:22] jofftiquez commented on #4
@nicolasvahidzein Also if you get an error while building your project please refer [here](https://github.com/jofftiquez/morphling#debug).

[2017-07-30 12:42] nicolasvahidzein commented on #4
I did use vue-cli webpack standard (not simple), aside from that i'm not quite sure.

[2017-07-30 12:48] jofftiquez commented on #4
Thanks for the info. @nicolasvahidzein

[2017-07-30 13:22] nicolasvahidzein commented on #4
I see a this.dialog variable Joff, what is that? it's not referenced anywhere in your example.

Also when i upload many pictures one after an other, after the second one it stops cropping it properly. Is that a known bug?

[2017-07-30 14:10] nicolasvahidzein opened #6 "Promises for bound function"
Hello again Joff,

i think there might be the same bug with bind this time, i'm trying to get the result immediately after the bound function is successful but i can't get it to trigger:
[code]

[2017-07-30 14:33] nicolasvahidzein commented on #6
i'm so proud of myself, i think i fixed it, i don't know how to do those pull request people speak of on github, maybe you can show me, but here is the fix
[code]
instead of this:
[code]

[2017-07-30 14:55] jofftiquez commented on #4
Hi @nicolasvahidzein That code is just a snippet I copied from one of my apps. I just want to show you how you could work around with input file. Nevermind the this.dialog.

Regarding the

It is a known behavior or `<input type="file">` you need to clear the input before selecting a new image. You can use `file.target.value = null` to reset the input.

[2017-07-30 15:05] jofftiquez commented on #6
Hi @nicolasvahidzein nice solution. However the whole point of the bind() function is to bind an image to the croppie and not to get the cropped result. That's why there is a separate method for he crop action. But let's see what we can work around to improve this project.

[2017-07-30 15:09] jofftiquez commented on #4
Re: input problem.

Theses links might help you

https://stackoverflow.com/questions/19643265/second-use-of-input-file-doesnt-trigger-onchange-anymore

https://stackoverflow.com/questions/34531715/click-event-for-input-file-does-not-work-for-2nd-time

[2017-07-30 21:59] nicolasvahidzein commented on #6
true but it's not so much about the result as much as the function telling you when the image is loaded so you can do an async action. Otherwise you are kind of screwed since you don't know when your image has loaded. Not sure if i am making any sense.

[2017-07-30 22:10] nicolasvahidzein opened #7 "Clear croppie"
Joff, how can i clear the module? Using destroy() kills it and i don't want that. I just want to clear the module to it's original state, reseting it basically. I don't see that function anywhere in the docs.

[2017-07-30 23:44] nicolasvahidzein opened #8 "On change event emitters"
Joff, the on change event emitters that are present in the original croppie are they here too?

How do i listen to those? i saw you added your own event listeners but those are not the ones that are triggered when a user moves an image or zooms in and out.

Is this working in vue-croppie?

[2017-07-31 01:32] nicolasvahidzein opened #9 "Issues with low quality images & a bug with multiple result query"
Hello Joff,

you need to see this behavior.

I figured out that low quality images do not produce normal crops, and i don't know if it's due to the update you did because of me but now, when you pull a second result() query based on promises, it comes up null like so:   "data:,"

hit me up, i can do a tv session to show you.

[2017-07-31 01:42] nicolasvahidzein commented on #9
Ok after a lot of digging on croppie there was a lonely comment that was very important for the annoying bad file size and quality issue:

https://github.com/Foliotek/Croppie/issues/297

As BassT says:

Try calling result with {type: 'base64', size: 'viewport'}. Then you should always get the right size.

[2017-07-31 01:42] nicolasvahidzein commented on #9
The empty result still stands though.

[2017-07-31 05:35] jofftiquez commented on #6
@nicolasvahidzein In that case you I can consider passing the loaded image in the callback, but not the "cropped" version.

[2017-07-31 05:36] jofftiquez commented on #7
@nicolasvahidzein I'll get back to you on this on gitter. https://gitter.im/vue-croppie/

[2017-07-31 05:41] jofftiquez commented on #8
@nicolasvahidzein I'll start working on this. For the meantime, if you have questions please go to vue-croppie's gitter https://gitter.im/vue-croppie/

[2017-07-31 05:42] #7 closed

[2017-07-31 05:45] jofftiquez commented on #9
I'll try to digin the empty result bug. However can you create a reproduction of the bug? Perhaps on a JsFiddle or a video recording on how you produced it? That'll help me a lot to fix things.

[2017-07-31 06:31] nicolasvahidzein commented on #6
You mean bind? You have a snippet by any chance?

[2017-07-31 06:51] nicolasvahidzein commented on #9
Ok here is the link to the file itself, but let me explain first here so you don't waste too much time digging through all my lines. PS if you can coach me on how to use OOP or polymorphism in this instance that would be nice, i am using a lot of switches but it making it huge.

i'm sending the 2 links via Gitter.

Ok so this is the most important function:    cameraSectionProcessImageData

it get

[2017-08-01 05:18] mohamedzajith opened #12 "can't change viewport size"
can you give me a sample code
how can do that
`this.$refs.logo({`
 `       viewport: {
        width: 150,
        height: 200
    }`
`});`
`this.$refs.logo.bind({`
 `       url:'http://i.imgur.com/Fq2DMeH.jpg'`
`});`

[2017-08-01 06:42] jofftiquez commented on #12
Hello @mohamedzajith `viewport` is a props passed to the component, if you wish to change the view port put it on the component like` <vue-croppie v-bind:viewport=" { width: 150, height: 200 }"></vue-croppie>`

[2017-08-01 06:44] jofftiquez commented on #12
For future questions you can go and chat me on our [gitter page](https://gitter.im/vue-croppie)

[2017-08-01 06:44] #12 closed

[2017-08-01 15:20] LorrainInfinity opened #13 "Unexpected token: punc()"
Hi.

I'm facing a weird problem due to this plugin.

I'm compiling my Vue files via Laravel Mix.  Every time I run the dev command, the scripts gets compilled successfully but when it comes to run the prod command (npm run production), I get an error linked to vue-croppie : Unexpected token: punc().

Do you know where it comes from ?

Thank's!

[2017-08-02 05:43] jofftiquez commented on #13
Hello @LorrainInfinity are you using `vue cli`? If yes please see [this guide](https://github.com/jofftiquez/morphling#debug) from my other project. The problem is related to the webpack configuration. For future questions please join our [gitter chat](https://gitter.im/vue-croppie/).

[2017-08-02 05:49] #13 closed

[2017-08-02 05:50] jofftiquez opened #14 "create a build"
Create a build version for CDN

[2017-08-11 19:02] jmaister opened #15 "Why calling to this.refresh() on .result() ?"
It was working for me with the last version. Calling this.refresh() on each call to croppie.result() makes my vue-croppie component go to a blank image.

How can I keep the image being cropped ?

Also, a breaking change should bump the middle version according to semver.

[2017-08-12 02:28] jofftiquez commented on #15
Hi @jmaister good day! On the `result()` function, you should get the output/cropped image. You need to put that in a variable in order to keep it after the croppie has been `destroyed()`

The `this.result()` is being called to destroy the croppie instance thus avoiding the [#358](https://github.com/Foliotek/Croppie/issues/352) issue on official croppie page.

I will watch out for that breaking ch

[2017-08-12 02:30] jofftiquez commented on #6
Hello @nicolasvahidzein upon careful consideration I came to the conclusion to not add a callback for `bind()` funtion, this is because you already have the image before you bind it in the first place. Thanks always Nic!

[2017-08-12 02:30] #6 closed

[2017-08-12 02:30] jofftiquez opened #16 "Add jsFiddle sandbox"
Basically something like [the demo](https://jofftiquez.github.io/vue-croppie/) but in JSFiddle.

[2017-08-12 04:38] #8 closed

[2017-08-12 04:39] #15 closed

[2017-08-12 14:04] nicolasvahidzein commented on #6
No problem, thanks Joff. I do think a callback is great because we have operations we might want to do right after. But you are the boss.

[2017-08-16 14:57] #5 closed

[2017-08-16 15:04] jofftiquez opened #18 "Add cdn link"

[2017-09-01 08:24] #18 closed

[2017-09-19 16:45] jayhenderson opened #20 "EnableResize does not seem to work"
I've tried setting `:enableResize="true"` inside of my `<vue-croppie>` tag, but it doesn't seem to be doing anything. I was hoping it would enable the resizing functionality shown in one of the examples in [https://foliotek.github.io/Croppie/](url). I might just be doing it incorrectly though. Is this a feature that Vue-Croppie supports?

[2017-09-20 01:22] jofftiquez commented on #20
Hello @jayhenderson I'm pretty I've implemented every Croppie features to `vue-croppie`. Regarding your issue, let me just check it on my end. Thank you :)

[2017-09-20 01:37] jofftiquez commented on #20
@jayhenderson I think I missed this one. If you search `enableResize` key word on the Croppie's docs, you will not find it in the "Documentation options" part, where I based all the `vue-croppie` options. You will find it in the 3rd example tho. I think that's why I missed it. Anyhow, I will push a new version with the `enableResize` option in it.

[2017-09-20 01:46] #20 closed

[2017-09-20 01:48] jofftiquez commented on #20
@jayhenderson I've pushed the new update `@1.3.8` please try it and let me know.

[2017-09-21 19:58] jayhenderson commented on #20
Resizing is working, thanks!

[2017-09-26 15:28] dobromir-hristov opened #21 "Bind should return the croppie bind as it returns a promise"
As the title says, bind should really return the croppie bind value as its a promise and can be used as a ready callback.
Alternative is to use `$ref.croppieElement.croppie.bind()` but that defeats the purpose of your function completely.
I can do a PR if needed.

[2017-09-27 03:13] jofftiquez commented on #21
Hi @dobromir-hristov PRs are much appreciated. Thank you.

[2017-09-27 03:15] jofftiquez opened #22 "Update build"
- Remove webpack
- Use plain babel
- Use rollup

[2017-09-27 21:01] dobromir-hristov commented on #22
Rollup?

[2017-09-28 04:07] jofftiquez opened #24 "Update result, bind output."
Improve `.result()` and `.bind()`. Accommodate output types - promise, callback and emit event.

[2017-11-10 06:52] emilas44 opened #25 "The demo page is not working."
Please fix the link:

https://jofftiquez.github.io/vue-croppie/

[2017-11-10 08:04] jofftiquez commented on #25
Holy cr*p I didn't notice that. Thanks @emilas44 for reporting. I will fix this right away.

[x ] Fix demo page
[ ] Create rollup build
[ ] Clean unused files

[2017-11-10 08:28] emilas44 commented on #25
And in your repository the demo/build.js file is missing!

[2017-11-10 10:17] jofftiquez commented on #25
Right! Noted @emilas44 . Thanks.

[2017-11-10 10:37] jofftiquez commented on #25
@emilas44 demo fixed!

[2017-11-11 21:44] #25 closed

[2017-11-15 16:28] MatthewAry opened #26 "Boundary should default to size of the container."
vue-croppie's prop for boundary defaults to 400x400 px when it should default to the size of the container. See: https://foliotek.github.io/Croppie/#boundary

By having a default boundary size behaviors it breaks complex layouts such as those using flex.

[2017-11-15 21:04] jofftiquez commented on #26
@MatthewAry thanks for mentioning this. I'll be working on it.

[2018-01-19 19:01] sombriks opened #27 "Cannot find module '!!../css-loader/index.js!./croppie.css'"
Hello,

i have a browserify setup using require/exports setup.

when i try to do a **Vue.use(VueCroppie)**, i get the following error:

[code]

here is what i am doing:

[code]

Any guidance is welcome.

[2018-03-03 07:43] cbaxter713 opened #29 "Option to prevent automatic refresh() after every crop/result"
Is it possible to add in an option to prevent the automatic refresh() that is being called on each crop/result?  I would like the Croppie url that is bound to stay in place even after I evoke crop/result.

[2018-03-03 07:55] jofftiquez commented on #29
@cbaxter713 Oh, I didn't think that it would be necessary. But you're right, there should be an option for that. I'll work on this over the weekend. Thanks.

[2018-03-03 08:01] cbaxter713 commented on #29
Awesome, thank you for doing that!

[2018-03-05 06:53] #29 closed

[2018-03-05 06:54] jofftiquez commented on #29
@cbaxter713 Hi, I removed the auto refresh. You just have to call the `refresh()` function if you want to clear the canvas.

[2018-03-05 15:42] cbaxter713 commented on #29
Awesome, thanks for doing that

[2018-03-12 01:53] jofftiquez commented on #27
Hello @sombriks  I'm not entirely sure what's wrong but it might be related to the `css-loader`. Sorry for the late response. Please let me know of the progress. Thanks.

[2018-03-12 01:55] jofftiquez commented on #9
Hello @nicolasvahidzein I'll close this issue now for inactivity. I suggest you update to the latest version of vue-croppie :) Please don't hesitate to ask for help. Thank you.

[2018-03-12 01:55] #9 closed

[2018-03-12 01:57] jofftiquez commented on #21
@dobromir-hristov Hi, did you submit a PR about this? I can't remember 😢I'm clearing issues now.

[2018-03-12 01:59] jofftiquez commented on #22
@dobromir-hristov yes you're right. I will do that :)

[2018-03-12 02:12] sombriks commented on #27
Hi @jofftiquez !

I am pretty sure this is related to the browserify.

I've made a sample project if you want to see the error: https://github.com/sombriks/sample-vue-croppie-browserify

Since there is no css loader on browserify projects (the browserify transform works in another way) i think there's not much to do.

I've used webpack-ish projects in the past (for example vue itlself works fine w

[2018-03-12 02:18] jofftiquez commented on #27
I understand. Maybe it has something to do with how I build the project. Anyhow I created an issue to improve the build output of this project. See #22 .

Let's see if it can help. But for now I'm not really sure what's wrong.

[2018-03-12 05:21] dobromir-hristov commented on #21
I have not, can do it a bit later today

[2018-03-12 05:39] jofftiquez commented on #21
@dobromir-hristov Alright. I'll just leave this open for now. Thank you!

[2018-03-12 06:08] #22 closed

[2018-03-17 07:17] dobromir-hristov commented on #21
https://github.com/jofftiquez/vue-croppie/pull/23

[2018-03-17 07:17] #21 closed

[2018-03-20 13:06] mehulkaklotar opened #30 "outputHeightRatio not defined error!"
when using npm package, getting http://prntscr.com/itrzx2 error.

npm package has this error http://prntscr.com/its0ro

there is a variable define error. i think need to update the croppie lib here.

[2018-03-21 03:26] jofftiquez commented on #30
Hi @mehulkaklotar thanks for reporting this. I'll investigate this as soon as possible. For the meantime, can you kindly create a reproduction link please? Thanks.

[2018-03-23 17:22] mehulkaklotar commented on #30
@jofftiquez there is a issue in code dist lib. see here https://github.com/jofftiquez/vue-croppie/blob/master/dist/index.js#L1383. `outputHeightRatio` is not defined because it has no `var` because `outputWidthRatio` has `;` with it.

[2018-03-23 21:41] jofftiquez commented on #30
@mehulkaklotar This is actually from the official Croppie code base. See https://github.com/Foliotek/Croppie/blob/master/croppie.js#L1162. I'll talk to the author tho. Thanks for pointing it out.

[2018-04-19 11:51] mehulkaklotar commented on #30
@jofftiquez do you have update on this?

[2018-04-20 02:09] jofftiquez commented on #30
@mehulkaklotar hello. I am sorry, but so far I haven't got any response from Croppie itself. :(

[2018-04-26 05:50] zuxriddinkamalov opened #31 "Error on using into components."
I'm using element-ui dialog. Into my dialog I defined croppie, but vue js can't see ref of croppie.

`<div id="profile_edit">
	<el-dialog
		@open="openCropWindow"
		width="600px"
		class="modal"
		title="Photo"
		:visible.sync="avatarModal">
		<vue-croppie
			ref="croppieRef"
			:enable-resize="true"
			:mouse-wheel-zoom="false"
			:enable-orientation="true"
			:viewport="{ width: 200, height: 200

[2018-04-26 06:21] jofftiquez commented on #31
It's because the component is not yet loaded inside the dialog component. If your dialog has a on-open event, add the vue-croppie component after that event.

[2018-04-26 07:32] zuxriddinkamalov commented on #31
I resolved this problem with nextTick. On open dialog we can add this code:
[code]

[2018-04-26 07:50] #31 closed

[2018-04-26 09:21] jofftiquez commented on #31
@zuxriddinkamalov nice!

[2018-05-28 23:37] NailsonCodens opened #33 "Error in mounted hook: "TypeError: Cannot read property 'bind' of undefined""
Help-me

[2018-05-29 02:49] jofftiquez commented on #33
@NailsonCodens please update the issue with more detailed context relevant to the plugin. Add your code maybe? Then I will re-open this. Thank you :)

[2018-05-29 02:49] #33 closed

[2018-05-29 12:49] NailsonCodens commented on #33
My code is the same as git, it does not change anything.
When I put:
    this. $ refs.croppieRef.bind ({
      url: 'http://i.imgur.com/Fq2DMeH.jpg'
    })
no mounted (), it returns me this error.

Error in mounted hook: "TypeError: Can not read property 'bind' of undefined"
and
Can not read property 'bind' of undefined

[2018-05-29 14:59] jofftiquez commented on #33
@NailsonCodens this error means that the `croppieRef` was not loaded successfully. Did you managed to add `ref="croppieRef"` to your template? Let me see your template please. Thanks.

[2018-05-29 15:04] NailsonCodens commented on #33
This is all my component

<template>
 <div style="text-align:center !important;">
  <div class="container_photo">
   <img src="/static/images/clients/128x128.png" class="image_company">
   <div class="overlay" v-on:click="Activemodal">
    <div class="text">Atualizar Logo</div>
   </div>
  </div>
  <p class="name-company">{{ name }}</p>
  <div class="modal" :class="classmodal">
   <div class="moda

[2018-05-29 15:06] NailsonCodens commented on #33
This is all my component
Yes, I added ref = "croppieRef"

"<template>
 <div style="text-align:center !important;">
  <div class="container_photo">
   <img src="/static/images/clients/128x128.png" class="image_company">
   <div class="overlay" v-on:click="Activemodal">
    <div class="text">Atualizar Logo</div>
   </div>
  </div>
  <p class="name-company">{{ name }}</p>
  <div class="modal" :class=

[2018-05-29 15:08] NailsonCodens commented on #33
``<template>
 <div style="text-align:center !important;">
  <div class="container_photo">
   <img src="/static/images/clients/128x128.png" class="image_company">
   <div class="overlay" v-on:click="Activemodal">
    <div class="text">Atualizar Logo</div>
   </div>
  </div>
  <p class="name-company">{{ name }}</p>
  <div class="modal" :class="classmodal">
   <div class="modal-background" v-on:click

[2018-05-29 15:08] NailsonCodens commented on #33
`<template>
 <div style="text-align:center !important;">
  <div class="container_photo">
   <img src="/static/images/clients/128x128.png" class="image_company">
   <div class="overlay" v-on:click="Activemodal">
    <div class="text">Atualizar Logo</div>
   </div>
  </div>
  <p class="name-company">{{ name }}</p>
  <div class="modal" :class="classmodal">
   <div class="modal-background" v-on:click=

[2018-05-29 15:09] NailsonCodens commented on #33
<div style="text-align:center !important;">
  <div class="container_photo">
   <img src="/static/images/clients/128x128.png" class="image_company">
   <div class="overlay" v-on:click="Activemodal">
    <div class="text">Atualizar Logo</div>
   </div>
  </div>
  <p class="name-company">{{ name }}</p>
  <div class="modal" :class="classmodal">
   <div class="modal-background" v-on:click="Closemodal">

[2018-05-29 15:10] NailsonCodens commented on #33
I can not enter the total code, a few pieces add up, but yes I put the ref = "CroppiecroppieRef"

[2018-05-29 15:11] NailsonCodens commented on #33
<vue-croppie ref=croppieRef :enableOrientation="true" @result="result" @update="update"></vue-croppie>

        <img v-bind:src="cropped">

        <button @click="bind()">Bind</button>

        <button @click="rotate(-90)">Rotate Left</button>
        <button @click="rotate(90)">Rotate Right</button>
        <button @click="crop()">Crop Via Callback</button>
        <button @click="cropViaEvent()

[2018-05-29 15:11] NailsonCodens commented on #33
I can not enter the total code, a few pieces add up, but yes I put the ref = "CroppiecroppieRef"

[2018-05-29 15:12] jofftiquez commented on #33
I believe the sample was outdated. Could you use this instead?

`<vue-croppie ref="croppieRef" :enableOrientation="true" @result="result" @update="update"></vue-croppie>`

[2018-05-29 15:12] jofftiquez commented on #33
And also, please use proper code formatting in your comments next time. It will help people read your code easier.

[2018-05-29 15:13] NailsonCodens commented on #33
I've used it with "" too, but it does not change anything

[2018-05-29 15:13] NailsonCodens commented on #33
Ok

[2018-05-29 15:15] NailsonCodens commented on #33
When I click on the bind, it runs smoothly, loads the photo and everything runs smoothly.

But if it needs to load when the page is mounted or a change event occurs, it does not work

[2018-05-29 15:18] jofftiquez commented on #33
Do this

[code]

[2018-05-29 15:20] NailsonCodens commented on #33
return Error in nextTick: "TypeError: Cannot read property 'bind' of undefined"

[2018-05-29 15:26] NailsonCodens commented on #33
`this.$nextTick(() => {
  this.$refs.croppieRef.bind();
});`

[2018-05-29 15:33] NailsonCodens commented on #33
[code]

[2018-05-29 15:37] NailsonCodens commented on #33
[code]
[code]

[2018-05-29 15:38] NailsonCodens commented on #33
this is my code, it has some more functions, but nothing that interferes with croppie-vue

[2018-05-29 15:46] NailsonCodens commented on #33
I found the problem, sorry, it was problem with my code.

[2018-05-29 15:47] jofftiquez commented on #33
@NailsonCodens so what happened?

[2018-05-29 15:53] NailsonCodens commented on #33
was trying to get the code inside a modal that opens as the click happens, out of it runs ok, within the modal not

[2018-05-29 15:58] jofftiquez commented on #33
Check your modal if it has onload event or something then load croppie component after that event.

[2018-05-29 15:59] NailsonCodens commented on #33
in fact, I just checked that my modal had a v-if, I switched to v-show and ran normal.

[2018-05-29 16:04] NailsonCodens commented on #33
change v-if by v-show and put and put the code this $ $ ref.Croppie ... After the Event, it worked. Thank's for your time. @jofftiquez

[2018-05-29 16:09] jofftiquez commented on #33
Nice! I'm glad it worked! Kudos! Thanks for using my plugin 👍

[2018-05-29 16:15] NailsonCodens commented on #33
Just one more question...
Only works with url?

I want to choose the photo with input file and load it inside the croppiebox

[2018-05-29 16:23] jofftiquez commented on #33
You can also pass `base64` image.

[2018-05-29 16:26] NailsonCodens commented on #33
This worked
[code]
Thanks @jofftiquez ,
your plugin is sensational!

[2018-05-30 03:48] jofftiquez commented on #33
Spot on! Thanks @NailsonCodens

[2018-06-11 19:03] rdomingue commented on #26
Nothing new on this ?

[2018-06-12 03:39] jofftiquez commented on #26
@rdomingue sorry it's been quite some time. I will update my timeline on this. Been busy in a while now. :( Thank you for your patience.

[2018-07-12 13:31] notapianokey opened #34 "Exif orientation fails"
I am trying to make vue-croppie work with Exif orientation, but it fails. Possibly upstream related, but I wanted to try my luck here first.

Example fiddle: https://jsfiddle.net/50wL7mdz/479707/

[2018-07-12 15:10] smesterheide commented on #34
Somehow enableExif does not work when enableOrientation is enabled at the same time. Setting it to false honers the Exif orientation and everything works as expected.

Beware that defaults in vue-croppie 1.3.12 differ from defaults in Croppie 2.6.1.

[2018-07-12 15:11] #34 closed

[2018-07-13 08:27] jofftiquez commented on #34
@notapianokey thanks for noting the Croppie verion. I will update this repo for the new version. Take care!

[2018-07-13 09:48] d1mapetrenko opened #35 "Upload file problem"
Hi, when I'm try to upload image again I get error message if file not selected.
P.S: Sorry for my English.
![screenshot_1](https://user-images.githubusercontent.com/40215711/42685216-0e86b716-869b-11e8-91d8-188adb150ec5.png)
![screenshot_2](https://user-images.githubusercontent.com/40215711/42685217-0ea5bd0a-869b-11e8-976d-c6d6892ea56d.png)
![screenshot_3](https://user-images.githubusercontent.co

[2018-07-14 04:55] jofftiquez commented on #35
Hi @d1mapetrenko I believe you should open this issue in official [Croppie repository](https://github.com/foliotek/croppie).

[2018-07-14 04:55] #35 closed

[2018-07-16 18:27] gregurco commented on #30
@jofftiquez could you please review and merge #32?

[2018-07-17 03:18] jofftiquez commented on #30
@gregurco Thanks! Am still thinking if I will merge #32 coz am planning to update this repo to Croppie's latest version anyways. I'll review it again.

[2018-08-09 15:19] adefirmanf opened #36 "Bind() as base64 format"
Any idea how to do this? I'm trying to bind my image as `base64`. I don't want to upload first before everything was done, so the image return as base64.

I was achieved render as Image in Vue without Croppie. This is my script
[code]
[code]
PS : I'm using http://element.eleme.io/#/en-US/component/upload

But, when I'm using Croppie. The image just show a gray. This is my script
[code]
[code]
I go

[2018-08-09 15:50] adefirmanf commented on #36
Sorry, my bad. This issue similar with https://github.com/jofftiquez/vue-croppie/issues/33 and I solved my problem
`Modal Event:open()`
[code]
Thank you.

[2018-08-09 15:50] #36 closed

[2018-08-10 03:54] lord-zeus opened #37 "Get File from input"
hey @jofftiquez how can i get the image from an input rather than the url please

[2018-08-10 07:15] jofftiquez commented on #37
Hello @lord-zeus I might have to close this coz this is not an issue with the plugin. But I can help you with your question. Normally you'd use an input with type `file`.

Here are some implementations.

https://stackoverflow.com/a/34840295

https://www.html5rocks.com/en/tutorials/file/dndfiles/

[2018-08-10 07:15] #37 closed

[2018-08-10 07:17] jofftiquez commented on #36
@adefirmanf Great! Happy coding!

[2018-08-11 01:07] lord-zeus commented on #37
Thanks

[u had already solved the my problem here](https://github.com/jofftiquez/vue-croppie/issues/4)

[2018-08-11 04:25] jofftiquez commented on #37
@lord-zeus Great!

[2018-08-14 15:24] konojunya opened #38 "can not be used when ssr."
I tried to use this library with nuxt. However, it seems to refer to `window`, but it gets an error.
How can I use it?

Or should I try to work with ssr as well?

[2018-08-15 01:43] jofftiquez commented on #38
@konojunya I'm not yet implementing this to be compatible with SSR yet but what's the error you see?

[2018-08-19 15:30] konojunya commented on #38
@jofftiquez `window is not defined`

If you write a component in template, there will be no window at create and an error will be issued.

[2018-08-21 07:16] sureshp83 opened #39 "Getting Uncaught RangeError: Maximum call stack size exceeded Error"
HI, I am getting  Uncaught RangeError: Maximum call stack size exceeded. please give me correct solution ASAP.
Here is my code (component file)

//    ../components/VueCroppie/VueCroppie.vue
<template>
    <div id="panel">

         <vue-croppie
                    ref=croppieRef
                    :enableOrientation="true"
                    @result="result"
                    @update="update"

[2018-08-21 16:49] jofftiquez commented on #39
@sureshp83 Please use proper formatting and perhaps a screenshot of the error. I cannot help you with this kind of issue formatting. Will re-open once you properly formatted the issue. Also please add the error, to make sure that the error is from VueCroppie. Best! Thanks.

[2018-08-21 16:49] #39 closed

[2018-08-22 04:19] sureshp83 commented on #39
I changed my post please check it.
   On Tuesday, August 21, 2018, 10:19:36 PM GMT+5:30, Jofferson Ramirez Tiquez <notifications@github.com> wrote:

@sureshp83 Please use proper formatting and perhaps a screenshot of the error. I cannot help you with this kind of issue formatting. Will re-open once you properly formatted the issue. Also please add the error, to make sure that the error is from Vue

[2018-09-01 17:41] tshafer commented on #30
Any update on this?

[2018-09-04 07:33] sureshp83 opened #40 "how can we use image upload ? i need to choose image file and do crop on that particular image."
Hi, I need to use cropping on my selected images, not default image? how can do? please tell me a step.

[2018-09-04 07:44] jofftiquez commented on #40
Hi @sureshp83

First create an input with type `file` this should emit a file data of the image. Then add the `file` to `vue-croppie` using the `.bind()` method.

[2018-09-12 06:08] julianvk opened #41 "Failing to mount"
Currently recieving this issue: `[Vue warn]: Failed to mount component: template or render function not defined. found in ---> <VueCroppie>`

Did recieve this issue first `[Vue warn]: Unknown custom element: <vue-croppie> - did you register the component correctly? For recursive components, make sure to provide the "name" option.` so imported VueCroppie directly on the component instead of in main

[2018-09-12 21:26] julianvk commented on #41
Fixed, was to do with my setup with Vue.use()

[2018-09-12 21:26] #41 closed

[2018-09-13 04:53] jofftiquez commented on #41
@julianvk Im glad you fixed it. Thanks for using `vue-croppie`

[2018-09-13 08:06] julianvk opened #42 "enableExif is not currently working on crop"
Currently uploading an image from a phone camera that then gets passed to croppie, croppie is handling correctly until I crop the image.

here's my component:
Croppie is getting called on main.js

Below is inside a single component ImageCrop.vue
[code]

[code]

Any help would be greatly appreciated, a bit stumped here.

[2018-09-24 09:45] YukiOta commented on #38
I used `vue-croppie` components wrapped with `<no-ssr>` in nuxt app, and got the error following.

`Cannot read property 'prototype' of undefined`

So I used this component as a plugin like this:

[code]

[code]

[2018-09-24 20:16] notedboi commented on #40
@sureshp83  Or use ` let url = window.URL.createObjectURL(fileList[0])` to get url of local file, pass the url either to `.bind()` or to `.filesChange()`

[2018-09-25 02:17] konojunya commented on #38
@YukiOta good solution. Thanks

[2018-09-25 09:45] stsposoh commented on #40
Hi! I have the same trouble. Could you explain more fully?
"Then add the file to vue-croppie using the .bind() method." - how can I do that?

[2018-09-25 10:23] jofftiquez commented on #40
Closing now. Kindly re-open if you have more concern.

[2018-09-29 15:12] guumaster commented on #40
I've been playing with `vue-croppie` and made an app to upload / modify / download. You can check it here: https://rolodromo.github.io/playground-token-maker/

[2018-09-29 18:55] jofftiquez commented on #40
@guumaster that's a nice project. Thanks for using `vue-croppie` :)

[2018-10-04 07:03] lanbau commented on #38
hi i get an error Cannot read property 'bind' of undefined
when i try to bind

[code]

[code]
- console.log(this.$refs) in the mounted hook is an empty object.
- i tried computed, updated hooks but still have the same error

[2018-10-20 05:17] puneetpalkaur commented on #16
can you please add description what needs to be done. i am interested to work on this issue.

[2018-10-20 06:36] jofftiquez commented on #16
@puneetpalkaur I updated the description. Thanks for the interest :)

[2018-11-04 07:40] saeedvz commented on #26
any updates?

[2018-11-04 23:44] #26 closed

[2018-11-04 23:49] jofftiquez commented on #26
Hi all, sorry for the delay, I've been very busy lately. Anyways, the fix is now available in `1.3.13`. I removed the default value from the `boundary` props. You just gotta pass a height tho so the layout won't be a mess. You can see that [the demo](https://jofftiquez.github.io/vue-croppie/) is now responsive.

Refer to :
[L#15](https://github.com/jofftiquez/vue-croppie/blob/8c23e9f55267177349fef

[2018-11-05 04:19] donnie24 opened #43 "Hi, can you please give me an example for destroy croppie. thanks"

[2018-11-05 05:59] jofftiquez commented on #43
Hi @donnie24 you can call the `.destroy()` functions like the way you are calling the `.result()` function.

E.g.

[code]

[2018-11-05 06:00] jofftiquez commented on #43
Or inside `.result()` function.

[2018-11-05 06:00] #43 closed

[2018-11-12 06:11] BrunoDeBarros opened #44 "maxZoom option not supported via a prop"
There are two options, minZoom and maxZoom, which are not supported by vue-croppie.

I'm just leaving this as a note here for the devs; I've made the appropriate change on my side and will be packaging it up properly as a PR, if that's alright with you!

[2018-11-12 08:30] jofftiquez commented on #44
@BrunoDeBarros a PR is very much welcome :)

[2018-11-15 08:19] donnie24 opened #45 "CORS issues when binding images."
Do you have any solution abut CORS issue? Thanks

[2018-11-15 08:47] jofftiquez commented on #45
Are you trying to bind an image from a url?

[2018-11-16 02:11] donnie24 commented on #45
Yes, im try to bind an image let say from s3 server.

[2018-11-16 03:04] jofftiquez commented on #45
Maybe your s3 server cors configuration is blocking the localhost? In my demo, those images are also from an online url.

[2018-11-16 04:53] donnie24 commented on #45
in the s3 configuration is already set. i will provide image url and try to test.
Try this url https://fdca.s3-ap-southeast-2.amazonaws.com/c23d8a72-21f6-4c19-bad3-93601011ca42.jpg

thanks

[2018-11-16 05:53] jofftiquez commented on #45
@donnie24 I was able to bind the image look here. http://vue-croppie.surge.sh/

How do you server you localhost enviroment?

[2018-11-16 05:56] jofftiquez commented on #45
I will close this issue now because the problem is not within the plugin. You can still ask questions related to this issue here. I will see what I can help you with.

[2018-11-16 05:56] #45 closed

[2018-11-16 05:57] jofftiquez commented on #27
Will close now due to inactivity.

[2018-11-16 05:57] #27 closed

[2018-11-16 05:59] #24 closed

[2018-12-03 06:40] donnie24 opened #46 "Do you have rotate only."

[2018-12-03 08:39] jofftiquez commented on #46
Hi @donnie24 kindly give more information about your question. Thank you.

[2018-12-04 23:44] donnie24 commented on #46
do you have feature to rotate only? no crop button or anything just rotate and result

[2018-12-05 00:05] jofftiquez commented on #46
@donnie24 I'm not really sure if that's possible. The output image is only being emitted after the crop function.

[2018-12-05 00:05] #46 closed

[2018-12-05 01:38] donnie24 opened #48 "Do you have an option to remove the draggable functionality? thanks"

[2018-12-05 04:48] jofftiquez commented on #48
@donnie24 upon checking [Croppie's Official Doc](https://foliotek.github.io/Croppie/) I don't think there is such an option. Thanks.

[2018-12-05 04:48] #48 closed

[2018-12-06 07:28] donnie24 opened #49 "Do you have example on how to use the setZoom?"

[2018-12-06 07:29] donnie24 opened #50 "Do you have example after rotate the image the click result the image will zoom in."

[2018-12-06 07:53] jofftiquez commented on #49
Kindly read https://foliotek.github.io/Croppie/

[2018-12-06 07:53] #49 closed

[2018-12-06 07:53] jofftiquez commented on #50
Kindly read https://foliotek.github.io/Croppie/

[2018-12-06 07:53] #50 closed

[2018-12-28 08:39] yehorskrypnyk commented on #38
@lanbau Hello, i Have the same problem. Did you find solution?

[2019-01-07 18:38] ryanhovland opened #51 "Sample code does not work properly"
I just tried firing up an instance of vue-croppie with your sample code, but no preview image appears above the slider. I think `.croppie-container` needs an explicit height set. I'm not sure if I'm doing something wrong, but I added the code below and then saw it properly.
[code]
p.s. Thanks for your work on this package!

[2019-01-07 19:16] jofftiquez commented on #51
Hi @ryanhovland you can actually pass a props called `customClass`. You can define the container's height and width using this. Also, can you try passing this property `:viewport="{ width: 300, height: 300 }"`? Maybe it's what you're looking for. Thanks!

[2019-01-07 19:21] ryanhovland commented on #51
@jofftiquez Passing :viewport doesn't fix it. I had to manually define a height (like my code sample above). The `customClass` might work too (didn't try that yet). Either way, just wanted to mention that your sample code isn't working properly as-is. You might want to update it so people don't think the package is broken.

Thanks again for your work on this. Have a great day!

[2019-01-07 19:22] jofftiquez commented on #51
@ryanhovland great! Thank you for notifying me. :) Have a great day too!

[2019-01-07 19:22] #51 closed

[2019-01-22 12:46] dobromir-hristov commented on #44
@BrunoDeBarros do you need help with that PR? I can submit a PR too, but you said you have already done it.

[2019-01-22 13:14] dobromir-hristov opened #52 "Improve build by swapping Webpack and exposing a real ESmodule"
So using Webpack to bundle a library is simply wrong, especially for ESM modules. Do you mind if I submit a PR changing webpack for Rollup or Bili (which uses rollup under the hood)? I will try to keep it without breaking changes.

I am coming from the fact that Croppie got a minor version bump, that fixes the `enforceBoundary` set to false issues. But because even the ESM module has Croppie bundl

[2019-01-22 15:26] jofftiquez commented on #44
Hi @dobromir-hristov it seems @BrunoDeBarros wasn't able to push a PR, you can submit yours. Thank you.

[2019-01-22 15:27] jofftiquez commented on #52
Hi @dobromir-hristov

I totally agree. Kindly submit a PR, it will make this plugin better. Thank you :)

[2019-01-23 08:46] #44 closed

[2019-01-23 08:57] dobromir-hristov commented on #52
One issue I came up to during setting up the build process is the inlining of css.

Usually its not a good idea to inline css from a library, it should be imported separately. I tried keeping things as backwards compatible as possible, but that would require for the ES and CJS builds to also inline Croppie, which is not how it should be. I am trying to figure it out so I will keep you updated.

[2019-01-23 17:07] jofftiquez commented on #52
Great! Thank you so much @dobromir-hristov

[2019-01-24 08:57] dobromir-hristov commented on #52
So I cant figure out a neat way to do this. Chose between the two:
1. We release it the same way as before, with Croppie.js and Croppie.css inlined inside Vue-Croppie, making the package bigger and potentially forcing you to re-release a new version each time Croppie releases.
2. We release it properly, with ES and CJS modules having CSS and Croppie imported separately (not inlined) and UMD module

[2019-01-24 12:02] jofftiquez commented on #52
@dobromir-hristov Thank you for spending time on this. I think option number 2 is better. Importing an extra CSS wouldn't hurt the user's experience of using this plugin I think. So do you have any POC for this option?

[2019-01-24 12:04] dobromir-hristov commented on #52
It wont, but its a breaking change. Everyone using upto now will have to explicitly import the css. The rest stays the same.
And yes, I have a working example. I can push it a bit later.
Do you want to have both the component exported, along with the default export? That way people can register croppie locally, instead of having it globally registered.

[2019-01-24 15:58] jofftiquez commented on #52
Registering it locally would be much neater IMO. Thanks @dobromir-hristov

[2019-01-24 18:40] dobromir-hristov commented on #52
OK then. Pushed and ready for review

[2019-01-30 11:06] bmdelacruz commented on #51
When using a custom class, you need to declare the height and the width with an `!important`. Otherwise, they will get overridden by the height and the width that was declared on the `.croppie-container` css style rule which are `height: 100%` and `width: 100%`.

[code]

Also, I found out that the __viewport property__ affects the __size of the square that crops the image__ not the size of the cro

[2019-01-30 15:54] koujiuji opened #57 "Console error on using chrome"
Hi! I like your works:)

In using chrome browser, when start to crop and dragging image, following errros are outputed.

[code]

The cause is refer to this link, chrome ignore calling preventDefault.
https://www.chromestatus.com/features/5093566007214080

So please add explicitly {passive: false} of options on next version.
[code]

Best Regards!

[2019-02-06 09:23] dobromir-hristov commented on #57
This is connected to crippie it self. You are free to make a PR there.

[2019-02-06 09:32] koujiogawa commented on #57
Thanks reply, I found work around for this issue, so please close this ticket.
Best, Koji

[2019-02-06 17:57] Ayman97 opened #58 "Crop Boundary not showing up by default"
For showing the crop boundary i need to set the height for .cr-boundary element.
Is there another way to do this?

[2019-02-06 18:15] #58 closed

[2019-02-08 04:11] jofftiquez commented on #58
Hi @Ayman97 you closed the issue. Is it still persisting?

[2019-02-08 04:11] #57 closed

[2019-02-21 09:09] papa-zulu commented on #38
If you intend to use Croppie in a single file component and don't want to include it in nuxt.config.js as a plugin, you can also include it like this
[code]
However, the issue with this.$refs.croppieRef being undefined still exists.
I figured out that the issue with this.$refs is actually because the coppie's mounted() method executed after the component's mount() method, therefore the this.$refs.

[2019-02-21 19:54] papa-zulu commented on #38
@yehorskrypnyk you can try my commit (above this post). I added a croppieInitialized method which is executed when the Croppie object gets created and the reference starts to exist.

[2019-03-26 20:19] adabutch opened #60 "enableOrientation & enableExif"
I'm using this component via a file input with Nuxtjs like:

[code]
I'm using EXIF.js to get the image orientation. However, it seems to do nothing. I would like the photo uploaded to automatically rotate to the correct orientation within the `croppieRef` above.

I can post more code if that's helpful, not sure if others are experiencing an issue(s) w/ this, or I'm setting things up wrong ... thou

[2019-04-12 06:54] lilu1814 opened #61 "样式错乱问题"
本地调试还好，上了生产样式就错乱了
![image](https://user-images.githubusercontent.com/16162077/56017743-d08a8e00-5d32-11e9-9ee3-63ef7eee7686.png)

[2019-04-12 07:10] jofftiquez commented on #61
Hello @lilu1814, kindly translate the issue to English. Thank you. Will re-open after it has been translated. Thanks.

[2019-04-12 17:05] #52 closed

[2019-04-12 17:15] dobromir-hristov commented on #60
Please post a properly reproducible link to your issue. From this code, you are just showing the croppie plugin.

[2019-04-12 17:15] #60 closed

[2019-04-12 17:17] dobromir-hristov commented on #42
So what is the issue here? You never explained what problem you are experiencing.

[2019-04-12 17:20] #16 closed

[2019-04-17 13:11] #61 closed

[2019-04-26 11:06] fguespe opened #62 "Zoom is not a function"
Error in v-on handler: "TypeError: _vm.$refs.cropper.zoom is not a function"

logError @ vue.runtime.esm.js?2b0e:1888
globalHandleError @ vue.runtime.esm.js?2b0e:1879
handleError @ vue.runtime.esm.js?2b0e:1839
invokeWithErrorHandling @ vue.runtime.esm.js?2b0e:1862
invoker @ vue.runtime.esm.js?2b0e:2179
original._wrapper @ vue.runtime.esm.js?2b0e:6911
vue.runtime.esm.js?2b0e:619 [Vue warn]: Error i

[2019-04-26 11:36] jofftiquez commented on #62
Will close for now, kindly add repro.

[2019-04-26 11:36] #62 closed

[2019-05-24 07:53] rukadh2 opened #63 "enableOrientation, enableResize set in props vue-croppie no working!"
I have code :
vue-croppie(ref='croppieRef', :enableOrientation="false", :enableResize="false"

Error: enableResize = false, vue-croppie not working.

I tried:
Replace all "enableOrientation" and "enableResize" in file vue-croppie.js
=> Result: enableResize and enableOrientation working [OK]

P/S: sorry my english is not good

[2019-05-24 14:44] jofftiquez commented on #63
Hi @rukadh2 can you show me the actual screenshot of the error? Thanks.

[2019-05-24 15:44] rukadh2 commented on #63
I tried:
Replace all: "enableOrientation" and "enableResize" in file vue-croppie.js
enableOrientation => enableorientation
enableResize => enableresize

=> Result: [OK]

**ERR**
![Err](https://user-images.githubusercontent.com/35477249/58340115-4ecf6980-7e75-11e9-8d1a-7e5b0d4d20bb.png)

**FIX**
![Fix](https://user-images.githubusercontent.com/35477249/58340131-555de100-7e75-11e9-9416-954fa9d7a052.

[2019-05-25 02:40] jofftiquez commented on #63
Got it. Thanks.

[2019-05-25 02:46] jofftiquez commented on #63
Are you using single file component?

[2019-05-25 07:00] rukadh2 commented on #63
Yes!

This file is https://github.com/jofftiquez/vue-croppie/blob/master/dist/vue-croppie.js

[2019-05-25 17:23] #63 closed

[2019-05-31 15:12] yennor opened #64 "enableResize seems to be always enabled"
It seems to be always possible to resize the viewport. Even if I set :enableResize="false" explicitly. The viewport can still be resized.

[2019-06-29 05:53] LeoTakeishi commented on #38
How do I use it in nuxtjs spa mode?

[2019-08-13 11:31] manumora opened #66 "Rotating the image, it is cutted"
Playing with [your example](https://jofftiquez.github.io/vue-croppie/), when the image is rotated and cropped, the picture is cutted.
![AwesomeScreenshot-jofftiquez-github-io-vue-croppie--2019-08-13_1_25](https://user-images.githubusercontent.com/1093702/62938082-90b1e100-bdce-11e9-8c38-b5c97e97c4be.png)

Testing in local, it fails as well.

[2019-09-18 09:49] spham opened #67 "request jsfiddle"
hi
maybe is possible to make a jsfiddle
like this
https://codepen.io/spham/pen/bGbmwXB

[2019-09-18 09:49] spham opened #68 "request jsfiddle"
hi
maybe is possible to make a jsfiddle
like this
https://codepen.io/spham/pen/bGbmwXB

[2019-09-19 03:31] jofftiquez commented on #67
Closing duplicate of #68

[2019-09-19 03:31] #67 closed

[2019-09-19 03:32] jofftiquez commented on #68
Hello, I will do this sometime this week. Thanks.

[2019-09-27 04:01] spham opened #69 "how to make multiple instance ?"
i wish multiple instance (4) from croppies in same page.
and wish upload all images loaded.

[2019-10-10 08:15] pintoflager opened #70 "Example not working, fix suggested"
After installing and trying with the example provided I didn't see any loaded images in the container until setting croppie container height and width with browser developer tools to px numbers.

Problem was fixed by setting the boundary attribute as per example below.

`<vue-croppie
                        :key="index"
                        :ref="'c' + index"
                        :boundary="

[2019-10-10 22:43] pintoflager commented on #69
This is what I've come up with since yesterday, you need to modify and change vuetify components to what you use e.g. input, button..
Check out axios for example to upload. Or upload files with the form submit.

[code]

[2019-10-14 15:52] jofftiquez commented on #70
@pintoflager Thanks for using this plugin. What exactly do we need to address?

[2019-10-14 20:08] pintoflager commented on #70
Hi and thanks for your work on the plugin!

The example you have in the front page of this project here in github gives empty croppie with resizer.

In the example vue-croppie is defined like this:
[code]

I would suggest adding the "boundary" configuration to to prevent bad start with the plugin for people who are experimenting with the example provided.
vue-croppie with boundary:
[code]

That ju

[2019-10-17 21:23] audetcameron commented on #68
have a vue croppie fiddle?

[2019-10-17 21:30] audetcameron opened #72 "No Image at startup"
This is what I see on load
https://codesandbox.io/s/9l5oyll1yy?from-embed

it appears $refs.croppieRef.bind  no  longer works.

adding
    :boundary="{ width: 300, height: 300}"
     :viewport="{ width: 230, height: 230 , type: 'circle'}"
worked. i think

[2019-10-18 03:49] spham commented on #68
is it possible to make multiple instance in same page ?

[2019-10-18 13:39] audetcameron commented on #72
I also get  Cannot read property 'bind' of undefined  when using this in mounted
[code]

[2019-10-18 18:55] jofftiquez commented on #70
Hello @pintoflager you are definitely right. I will add this to the documentation. Thank you so much!

[2019-10-18 18:56] #70 closed

[2019-10-18 18:57] jofftiquez commented on #70
Updated the docs @pintoflager thanks!

[2019-10-18 18:58] jofftiquez commented on #72
Hello @audetcameron the bind function is working. It's just that the boundary is not set that's why there's nothing at the beginning. I updated the docs. Thanks for this!

[2019-10-18 18:58] #72 closed

[2019-10-23 12:03] spham commented on #69
it seems not work. https://jsfiddle.net/spham92/mybutwgo/

[2019-11-01 16:53] germankrause opened #73 "croppieInitialized isn't working"
I don't see any entries for 'croppieInitialized', why did you write about this event in your README.md and how can I know when croppie became initialized?

[2019-11-02 12:07] mariusa opened #74 "Please add an Upload example"
Please add an Upload example similar to https://foliotek.github.io/Croppie/ > upload

How to get cropped image to upload to server after user crops it?

[2019-11-21 13:51] gordonmckenzie commented on #64
I had the same problem, but I seemed to have solved this by setting the default value of the enableResize prop in the VueCroppieComponent.js file within the src folder of the vue-croppie module itself as follows: -
`enableResize: {
      type: Boolean,
      default: false
    },`

I still set the prop explicitly as you stated.

[2019-11-27 10:38] SuiFengErQu opened #75 "Picture drag before clipping"
On Vue, when dragging pictures, you have to press and hold for a long time to drag pictures smoothly,The picture is tall and drags left and right smoothly, but it feels stuttered when dragging up and down
the type is 'circle',and the 'square' is smoothly

[2019-12-02 04:10] #75 closed

[2020-01-09 14:19] mreduar commented on #74
I'm trying to do the same thing, first I want to crop the image before sending it to the server and I don't know how to pass the image to the bind method.

Some help would be appreciated

[2020-01-21 15:24] viktorhunko commented on #66
seems like a bug in original croppie: https://github.com/Foliotek/Croppie/issues/668

[2020-02-17 07:56] AjithLalps commented on #74
Here is how I have done upload

### form
[code]
### Script
[code]

[2020-02-18 12:33] jofftiquez commented on #74
FYI the implementation of uploading the cropped photo to the serve is out of context to the features of vue-croppie. This will fall under the implementation work. Meaning, it is up to you. I can just give an example, but not a feature.

[2020-02-18 12:34] jofftiquez commented on #74
Closing now, please create a new issue for creating an example.

[2020-02-18 12:34] #74 closed

[2020-04-14 19:34] matthewboman commented on #73
If you look at [https://github.com/jofftiquez/vue-croppie/blob/master/index.html](url) it is

    croppieInitialized() {
          // This method will be executed when the croppie is initialized
           // You can use it to set the image
           // this.$refs.croppieRef.bind({
           //   url: 'http://i.imgur.com/Fv2YOM6.jpg',
           // });
           console.log('Croppie was initial

[2020-04-15 00:20] jofftiquez commented on #73
`croppieInitialized` is not an event. It's a prop. https://github.com/jofftiquez/vue-croppie/blob/2d671938ad04e3266e2acd8292c17457d8d0d498/src/VueCroppieComponent.js#L40

[2020-04-15 00:20] #73 closed

[2020-04-15 00:28] jofftiquez opened #77 "Convert croppieInitialized to event"
A contributor created a prop with callback function to emit an "event" when croppie has been initialized. This should be converted to event.

https://github.com/jofftiquez/vue-croppie/blob/2d671938ad04e3266e2acd8292c17457d8d0d498/src/VueCroppieComponent.js#L92

[2020-06-09 13:16] Sunhat opened #78 "Hijacked repo"
This repo has been hijacked by Antifa?

[2020-06-09 13:18] #78 closed

[2020-07-23 10:08] pepeloper opened #80 "Access image from aws result in a CORS error"
👋 Hey! I've been getting a cors error when try to load a imagen from aws. I found a related issue with a proper solution on the croppie library itself https://github.com/Foliotek/Croppie/issues/516 but I don't know how to make it fit here.

If we can find out any workaround I will try to help with a PR

[2020-07-24 00:24] jofftiquez commented on #80
Hello @pepeloper thanks for the issue. I'll look into this, no promises tho. I've been super busy with work lately. I'd appreciate if you could come up with a PR. Thank you so much! Stay safe.

[2020-08-21 09:30] pauubach commented on #66
Just add:
`
self._originalImageWidth = canvas.width;
self._originalImageHeight = canvas.height;
`

on line 1479, as stated in https://github.com/Foliotek/Croppie/pull/711/commits/3e0b9b138ff22d6ca3143d40dde62bbcab8134eb

It seems to be an error in last croppie versions.

[2020-09-24 09:54] jofftiquez commented on #38
This seems to resolve this, closing for now.

[2020-09-24 09:54] #38 closed

[2020-10-18 06:26] dakshshah96 commented on #41
@jofftiquez Can I register the `VueCroppie` component locally instead of in my main.js file?

When I try to do the following:

[code]

I always get this error:

[code]

Putting `VueCroppie` in main.js and doing `Vue.use(VueCroppie)` works as expected but I'd rather lazy load this library only on the page where I need it.

[2020-10-23 23:26] barrywoolgar commented on #64
~~Hello, by setting the boolean option `enableResize` to `"false"` (with quotes) you are setting it to be a string value instead. Only the empty string `""` will be evaluated to boolean `false`, all other values are regarded as `true` - you might as well be setting it to `"definitely"`~~

Edit: You know what, I didn't spot this was a vue repo, so perhaps that's a perfectly normal way to set boolea

[2020-10-25 02:59] jofftiquez commented on #64
OMG how did I missed this issue? WTH I'm terribly sorry. I was writing my response and realized it was created May 31, 2019. I'm blown. :disappointed: I will look into this soon.

[2020-10-26 12:50] dakshshah96 opened #81 "Register vue-croppie locally"
Can I register the `VueCroppie` component locally instead of in my main.js file?

When I try to do the following:

[code]

I always get this error:

[code]

Putting `VueCroppie` in main.js and doing `Vue.use(VueCroppie)` works as expected but I'd rather lazy load this library only on the page where I need it.

[2020-10-26 16:37] syther101 commented on #81
I've just been using this package and you can fix importing the correct module.

[code]

Hope this helps :)

[2020-10-26 16:48] dakshshah96 commented on #81
@syther101 I feel dumb now. LOL. Thanks!

[2020-10-26 16:48] #81 closed

[2020-11-26 16:01] tborges opened #82 "Is there a way to automatically crop the image on resize or drag? The goal is to eliminate the "Crop" button."
The goal is to eliminate the "Crop" button.  I want to auto crop the image if I drag, resize, or even if I don't do anything.

[2021-01-15 12:29] roenfeldt commented on #80
In case anybody needs a solution to this problem: it's not related to the library, but rather to how AWS is handling the incoming HTTP requests to the stored images. You need to set up the **CORS policy** at the bucket level on your [AWS S3 Management Console](https://s3.console.aws.amazon.com/). Choose your bucket, click the **Permissions** tab, and then scroll all the way down to the Cross-origi

[2021-01-28 11:52] subasvayu opened #83 "My image backgound is black after i resize and crop image"
My options for that
ref="croppieRef"
:enableOrientation="true"
:enableResize="false"
:enableZoomboolean="true"
:enforceBoundary="false"
:boundary="{ width: 300, height: 300}"
:viewport="{ width: 200, height: 200, type: 'square'}"
:showZoomer="true" [data:image/png;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEB

[2021-03-16 05:52] JonathanLeeCAC commented on #33
Hi, facing same problem here, could you clarify this code ? How is it written specifically?
`$ $ ref.Croppie ... `

[2021-08-26 04:23] tonywei92 commented on #64
@jofftiquez is it fixed tho? mine on v2.0.2 not working yet.

[2021-09-14 15:37] Error-402 opened #88 "zoom is buged"
zoom starts out of the center and the image gets smaller than the viewport,

the way starts:
![Captura de Tela 2021-09-14 às 12 27 46](https://user-images.githubusercontent.com/64661285/133287144-b366b6a9-f88d-4237-9590-501cafd83f4f.png)

zoom 0:
![Captura de Tela 2021-09-14 às 12 31 23](https://user-images.githubusercontent.com/64661285/133288030-832e7d33-60a6-43b8-ab92-368f7fff2007.png)

zoom

[2021-10-22 02:35] smlparry commented on #88
Any resolution here? Im having the same issue

Is this a bug with this repo? or Croppie itself?

[2022-03-08 10:34] subashshrestha-houzz commented on #88
I am getting the same issue, its happening after we refresh the page and try to zoom existing image
//cc @jofftiquez